---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div>
                    <p>
                        <em>Acesse o meu <a href="https://rafaelgiordanno.itch.io/">itch.io</a> para uma lista de alguns jogos que desenvolvi</em>
                    </p>
                    <p>
                        Acho que posso dizer que comecei a desenvolver jogos desde que eu era criança.
                        Eu jogava no meu Mega Drive desde os 4 anos de idade e, a partir dos 8,
                        comecei a inventar jogos com meus amigos para passar o tempo no recreio.
                        Criávamos RPGs, jogos de gerenciamento de recursos, jogos de cartas. Na 5ª série 
                        adaptamos Yu Gi Oh para que pudéssemos continuar jogando, já que ele havia sido
                        banido da minha escola durante um período.
                    </p>
                    <p>
                        Eu não imaginava que esses impulsos criativos me levariam a cursar o Técnico de
                        Informática do CEFET/RJ com o intuito de aprender programação para que pudesse
                        fazer meus próprios jogos digitais. Posso dizer que tive sorte durante esse período
                        pois um dos meus professores era um aficionado por video games. Ele decidiu ensinar Orientação
                        a Objetos e Java com jogos. Usei a oportunidade para desenvolver um jogo
                        de plataforma 2D em que controlamos um aluno de Informática na sua jornada para 
                        fazer a prova final do temido professor de lógica de programação. Trabalhei de forma integral
                        no conceito, arte, trilha sonora e programação por 3 meses. Durante a exposição do jogo,
                        descobri que desenvolver jogos era o que eu mais queria mais fazer.
                    </p>
                    <p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/E_YSN3lTIbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br /><em>Logical Boy, jogo criado para a EXPOTEC de 2011 do CEFET/RJ</em>
                    </p>
                    <p>
                        Ao fim do curso, eu procuro empresas para estagiar com jogos, porém sem sucesso. Então eu começo
                        a usar o que aprendi no curso para trabalhar com desenvolvimento web. Por 4 anos, trabalhei com
                        PHP, ASP (.NET e clássico), SQL e outras tecnologias web da época. Nesse período, eu sempre
                        busquei aprender mais sobre desenvolvimento de software e trabalho de equipe. Sou apresentado
                        aos sistemas de controle de versão e ao SCRUM.
                    </p>
                    <p>
                        Mesmo trabalhando com web por 4 anos, não deixo de desenvolver jogos. Nesse período, eu descubro que Notch,
                        criador do Minecraft, usava Java puro nos eventos que ele participava e aproveito para estudar
                        seus códigos-fonte para saber como os jogos funcionam nos bastidores.
                        Convenço um amigo de Ensino Médio a trabalhar comigo na criação de um jogo para a 
                        Game Music Brasil de 2012. Infelizmente, como acontece com muitos iniciantes, o jogo 
                        possuía um escopo muito maior do que o que poderíamos produzir e ele ficou incompleto.
                    </p>
                    <p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xV1K696Hr60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br /><em>Future Rage, jogo inacabado desenvolvido para a GMB 2012</em>
                    </p>
                    <p>
                        Ainda seguindo os passos do meu <em>mentor</em>, começo a participar de game jams,
                        com a Global Game Jam 2013 sendo a primeira delas. Mais uma vez, falhamos em entregar
                        algo com uma estrutura de jogo, mas pelo menos entregamos algo. Só naquele ano, participo
                        de mais 2 game jams online, onde cada jogo é mais bem sucedido que o anterior em fornecer algo jogável
                        para os eventos.
                    </p>
                    <p>
                        Em 2015, continuo na minha dupla jornada desenvolvendo jogos enquanto trabalho com desenvolvimento de
                        sistemas. Participo de três game jams, criando Adrift In Space em 48 horas para a 
                        GDP Space Jam da UFRJ e participando de uma Ludum Dare com um jogo que conta com um editor de níveis
                        dentro dele.
                    </p>
                    <p>
                        Em 2016, sou patrocinado pelo Hangar Botafogo para hospedar game jams e preparar cursos de introdução 
                        à programação e desenvolvimento de jogos. Nesse período, ministro cursos de Unity, C# e Python com Pygame
                        para universitários e adolescentes. Nesse ano, crio meus primeiros jogos de jam inteiramente sozinhos, o jogo
                        rítmico <em>RETRO MIAMI BEAT</em> em 48 horas e <em>A Matter of Time</em> em 72 horas, ambos para a Ludum Dare.
                    </p>
                    <p>
                        <img src="https://sheetcoldgames.files.wordpress.com/2014/04/retro.png?w=687&h=424" style="display: inline;" />
                        <img src="https://sheetcoldgames.files.wordpress.com/2014/04/a-matter-of-time-screenshot.jpg?w=687" style="display: inline;" />
                        <br /><em>Desenvolvidos para a Ludum Dare. Disponível no meu <a href="https://rafaelgiordanno.itch.io/" target="_blank">itch.io</a></em>
                    </p>
                    <p>
                        Em 2017, decido aprimorar meus conhecimentos de Unity e decido colocá-los em prática na LOWREZJAM 2017
                        com o jogo ExiTV, desenvolvido com a arte do <a href="https://twitter.com/derekpxart" target="_blank">Derek Souza</a>. Desde novembro,
                        trabalho com desenvolvimento de jogos usando Unity. Mas já experimentei diversos frameworks como o LÔVE2D
                        com o jogo Near Light.
                    </p>
                    <p>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/g6CclylATQE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <br /><em>ExiTV desenvolvido para a LOWREZJAM 2017</em>
                    </p>
                    <p>
                        <img src="https://sheetcoldgames.files.wordpress.com/2014/04/2017-07-17-0138.gif?w=687" />
                        <br /><em>Near Light desenvolvido em 72 horas para a Game Maker's Toolkit Jam em 2017</em>
                    </p>
                    <p>
                        É possível saber o que eu faço da vida simplesmente checando o meu twitter.
                        A minha última brincadeira com desenvolvimento foi isso aqui: 
                        <blockquote class="twitter-tweet" data-conversation="none" data-lang="pt"><p lang="en" dir="ltr">This is a wrap up for the weekend. It still needs some extra work, but I&#39;m quite satisfied with the result for about 24 hours of <a href="https://twitter.com/hashtag/gamedev?src=hash&amp;ref_src=twsrc%5Etfw">#gamedev</a> work. We need more levels, tone down the camera and an art style. Thanks everyone that followed! Playable links coming soon! <a href="https://twitter.com/hashtag/indiedev?src=hash&amp;ref_src=twsrc%5Etfw">#indiedev</a> <a href="https://twitter.com/hashtag/unity?src=hash&amp;ref_src=twsrc%5Etfw">#unity</a> <a href="https://t.co/ajE2GAsrNK">pic.twitter.com/ajE2GAsrNK</a></p>&mdash; Rafael Giordanno (@rafaelgiordanno) <a href="https://twitter.com/rafaelgiordanno/status/1061808286805188608?ref_src=twsrc%5Etfw">12 de novembro de 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    </p>
                    <p>Você pode encontrar meus jogos no  
                    <a href="https://rafaelgiordanno.itch.io/">itch.io</a>.</p>
                    
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
