---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div>
                    <p>Rafael compõe em uma ampla variedade de gêneros tais como Hip Hop, Neoclassico,
                    Ambiente, Chiptune, Eletrônica, Rock, Metal, entre outros mais experimentais.</p>
                    
                    <p>Um traço notável de seu estilo é a nostalgia que ele carrega em suas músicas autorais
                    fazendo com que as melodias muitas vezes nos transportem para diferentes locais
                    de nosso passado. Sua versatilidade e estilo prolífico permitem que suas músicas
                    façam parte de uma ampla game de projetos.</p>
                    
                    <p>Em alguns momentos, Rafael assina suas músicas sob outro nome para manter
                    consistência do seu trabalho. Seguem alguns exemplos do seu trabalho a seguir:</p>
                    
                    <h2>Coletâneas</h2>
                    <div>
                        <!-- Start Here -->
                        <p><em>Playlist com músicas originais curadas especialmente para quem quer conhecer seu trabalho.</em></p>
                        <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/284986922&color=%233f3841&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    
                    <h2>Remixes</h2>
                    <div>
                        <!-- Post Traumatic -->
                        <em>Remixes para a competição #RemixPostTraumatic do Mike Shinoda</em><br />
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/471635115&color=%23262626&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>

                    <h2>Trilhas de jogos</h2>
                    <div>
                        <!-- Somewhat Unexpected -->
                        <em>Música composta em 2012 para o Game Music Brasil que não foi finalizada a tempo de ser lançada.</em><br />
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149743094&color=%23262626&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    <br />
                    <div>
                        <!-- RETRO MIAMI BEAT -->
                        <em>Composta em aproximadamente 5 horas para o jogo <a href="https://rafaelgiordanno.itch.io/retro-miami-beat" target="_blank"></a>RETRO MIAMI BEAT</a>. 
                        O jogo e a música foram desenvolvidos pelo Rafael em 48 horas para a Ludum Dare 35. O tema foi Shapeshift.</em><br />
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/260266006&color=%23101117&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    <br />
                    <div>
                        <!-- ExiTV Themes -->
                        <em>Composta para o jogo 64x64 pixels <a href="https://rafaelgiordanno.itch.io/exitv-lowrez" target="_blank">ExiTV</a> desenvolvido em 5 dias para a LOWREZJAM_2017.</em><br />
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/338353607&color=%233f3841&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/338353602&color=%233f3841&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    <br />
                    <div>
                        <!-- Backyard Rumble -->
                        <em>Composta para o jogo Backyard Rumble, desenvolvido em 48 horas para a RING Game Jam.</em><br />
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/286453225&color=%233f3841&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/286451690&color=%233f3841&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    <br />
                    <div>
                        <!-- Brasileirinho demake -->
                        <em>Demake chiptune do famoso Brasileirinho de Waldir Azevedo remixada para o jogo Straight Outta Candelaria.</em><br />
                        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/252104088&color=%233f3841&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    </div>
                    <br />
                    <div>
                        <!-- -->
                        <em>Demake chiptune da música Running With The Wolves da cantora AURORA. A música original pode ser escutada <a href="https://www.youtube.com/watch?v=06ht9MyJLT4" target="_blank">aqui</a>.</em>
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/348034455&color=%23799edf&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
